@import '../../../styles/colors.scss';

/*TITULO DA PÁGINA*/
h2 {
  font-family: "Rawline Bold", sans-serif;
  text-align: center;
  color: $black;
  margin-top: 50px;
  font-weight: 700;
}

/*Geral Botão*/
.btn-geral{
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 90%;
  margin: 5% 5%;
  padding: 4%;
  text-decoration: none;
  color: $white;
  font-weight: 700;
  font-size: 110%;
}

.btn-lista {
  background-color: $ultrapurple;
  transition: background-color 0.3s ease;
}

.btn-lista:hover {
  background-color: $softpurple;
}

.btn-conteudo {
  background-color: $ultraorange;
  transition: background-color 0.3s ease;
}

.btn-conteudo:hover {
  background-color: $softorange;
}

/*modo escuro*/

:host-context(body.modo-escuro) {
  h2 {
    color: $white;
  }
}

:host-context(body.modo-contraste) {
  h2 {
    color: $ultrawhite;
  }
}