<app-header></app-header>

<br>
<br>
<br>

<div class="d-flex flex-wrap justify-content-center align-items-center flex-fill">
    <div class="col-md-6 col-12 text-white p-3">
        <div style="margin: 10% 0;">
                <a class="btn-social" (click)="pagLista()">
                    Lista de Usuarios
                </a>

                <a class="btn-social" (click)="pagCadastro()">
                    Adicionar Conteudo
                </a>
        </div>
    </div>
</div>

<br>
<br>
<br>
<app-footer></app-footer>