h2 {
    font-family: "Rawline Bold", sans-serif;
    color: #292929;
    margin-top: 50px;
    font-weight: 700;
}

.progress {
    height: 6px; 
    border-radius: 10px; 
    background-color: #e0e0e0;

    & .progress-bar {
        width: 80%; 
        background-color: #3AC1A8;
    }
}

.card-footer {
    & a {
        background-color: #9E3FFA;
        color: #f9f9f9;
        font-weight: bold;
    }
}

/*ANEL DE PROGRESSO*/
     .progress-ring {
        position: relative;
        width: 150px;
        height: 150px;
        background-color: #e6e6e6;
        border-radius: 50%;
        bottom: 20px;
        left: 25px;
    }

     .progress-ring circle {
        fill: none;
        stroke-width: 10;
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
    }

     .progress-ring .progress-bg {
        stroke: #F9F9F9;
    }

     .progress-ring .progress-bar {
        stroke: #57C29B;
        stroke-linecap: round;
    }

     .progress-text {
        position: relative;
        bottom: 110px;
        left: 75px;
        font-family: "Rawline Bold", sans-serif;
        font-size: 24px;
        color: #333;
    }


