@if(isLogged){
    <app-header></app-header>
    <app-end-header></app-end-header>
} @else {
    <app-header-simple></app-header-simple>
    <app-end-header-simple></app-end-header-simple>
}

<br>
<br>

<div class="container mb-5" style="width: 80%; max-width: 90%; text-align: justify;">
        <h1 class="mb-4">Central de Ajuda – Tec Libras</h1>

        <h3>1. O que é a Tec Libras?</h3>
        <br>
        <p>
            A Tec Libras é uma plataforma educacional gratuita criada por estudantes da ETEC de Praia Grande 
            como parte de um TCC. Seu propósito é auxiliar no aprendizado da Língua Brasileira de Sinais.
        </p>

        <h3 class="mt-4">2. Acessibilidade</h3>
        <br>

        <h5>VLibras</h5>
        <p>
            Clique no ícone do avatar para ativar a tradução automática. Ajustes de tamanho e posição estão disponíveis.
        </p>

        <h5>Modo Escuro</h5>
        <p>
            Acesse o menu de configurações e selecione <strong>“Modo Escuro”</strong>.
        </p>

        <h5>Modo Alto Contraste</h5>
        <p>
            Disponível no menu de configurações para melhorar a visualização.
        </p>

        <h3 class="mt-4">3. Outras dúvidas</h3>
        <br>
        <p>
            Para qualquer dúvida adicional, entre em contato pelos canais oficiais:
        </p>
        <ul>
            <li><strong>Email:</strong> <a href="mailto:teclibrasoficial@gmail.com" style="color: blueviolet;"> teclibrasoficial&#64;gmail.com</a></li>
            <li><strong>Instagram:</strong> <a style="color: blueviolet;" href="https://www.instagram.com/teclibrasoficial/"> teclibrasoficial</a></li>
        </ul>

        <p>
            Nossa equipe responderá o mais rápido possível!
        </p>
    </div>

    <app-footer></app-footer>