@import '../../../styles/colors.scss';

h1 {
    font-family: 'Rawline Bold', sans-serif;
}

.username {
    color: $greydark;
}

.points {
    color: $greydark;
}

.progress {
    height: 6px; 
    border-radius: 10px; 
    background-color: $greylight;

    & .progress-bar {
        width: 80%; 
        background-color: $greenlight;
    }
}

.btn-edit {
    background-color: $softpurple; 
    color: $white; 
    border-radius: 20px;
}

.btn-save {
    background-color: $softorange ;
    color: $white;
}

.quadrado1 {
    background-color: $softorange;
    width: 80px; 
    border-radius: 8px;
}

.quadrado2 {
    background-color: $purple; 
    width: 80px; 
    border-radius: 8px;
}

.desc {
    color: $greydark; 
    font-weight: 700;
    
    h1 {
        font-family: 'Rawline Bold', sans-serif; 
        color: $black; font-weight: bolder;
    }
}

.descAtividade {
    min-width: 223px;
}

.estatisticas {
    background-color: $whitedark; 
    border-radius: 10px;
}

.conquistas {
    background-color: $whitedark; 
    border-radius: 10px; 
    padding: 20px;
    
    & img {
        margin: 12px 0;
        width: 100px; 
    }
    
}

:host-context(body.modo-escuro) {
    .username {
        color: $greylight;
    }
    .points {
        color: $greylight;
    }
    .estatisticas {
        background-color: $greydark; 
        border-radius: 10px;
    }
    .desc {
        color: $greylight; 
        font-weight: 700;

        h1 {
            font-family: 'Rawline Bold', sans-serif; 
            color: $white; font-weight: bolder;
        }
    }
    .conquistas {
        background-color: $greydark; 
        border-radius: 10px; 
        padding: 20px;
    }

    .modal-content {
        background-color: $blacktwo;
        color: $white;
    }

     
}

:host-context(body.modo-contraste) {
    .username {
        color: $ultrawhite;
    }
    .points {
        color: $ultrawhite;
    }
    .estatisticas {
        background-color: $blacktwo; 
        border-radius: 10px;
    }
    .desc {
        color: $ultrawhite; 
        font-weight: 700;
        h1 {
            font-family: 'Rawline Bold', sans-serif; 
            color: $ultrawhite; font-weight: bolder;
        }
    }
    .conquistas {
        background-color: $blacktwo; 
        border-radius: 10px; 
        padding: 20px;
    }

    .modal-content {
        background-color: $blacktwo;  
        color: $white;
    }
}
@media (max-width: 391px) {

}

@media (min-width: 392px) and (max-width: 767px){

}

@media (min-width: 768px) and (max-width: 991px){

}

@media (min-width: 992px) and (max-width: 1199px){

}

@media (min-width: 1200px) and (max-width: 1399px){
    .conquistas {
        & img {
            margin: 12px 0;
            width: 86.5px; 
        }
    }

    .descAtividade {
        width: 5000px !important;
        min-width: 100vh; 
    }
}