@import '../../../styles/colors.scss';

h1 {
    font-family: 'Rawline Bold', sans-serif;
}

.username {
    color: $greydark;
}

.points {
    color: $greydark;
}

.progress {
    height: 6px; 
    border-radius: 10px; 
    background-color: $greylight;

    & .progress-bar {
        width: 80%; 
        background-color: $greenlight;
    }
}

.btn-edit {
    background-color: $softpurple; 
    color: $white; 
    border-radius: 20px;
}

.btn-save {
    background-color: $softorange ;
    color: $white;
}

.quadrado1 {
    margin: 30px 0 0 30px;
    width: 70px;        /* largura */
    height: 70px;       /* altura */
    background: $softorange; /* opcional */
    border-radius: 10px; /* opcional */
    display: flex;
    align-items: center;
    justify-content: center;
}

.nivel-svg svg {
    position: relative;
    right: 3px;
    bottom: 12px;
}

.topico-svg svg {
    position: relative;
    left: 2px;
    top: 3px;
    color: #6e20b7;
}

.conquistas-svg svg {
    position: relative;
    left: 3px;
    top: 3px;
}

.quadrado2 {
    margin: 30px 0 0 30px;
    width: 70px;        /* largura */
    height: 70px;       /* altura */
    background: $purple; /* opcional */
    border-radius: 10px; /* opcional */
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc {
    color: $greydark; 
    font-weight: 700;
    margin: 25px 0 0 0;
    
    h1 {
        font-family: 'Rawline Bold', sans-serif; 
        color: $black; font-weight: bolder;
    }
}

.descAtividade {
    min-width: 223px;
}

.estatisticas {
    background-color: $whitedark; 
    border-radius: 10px;
    margin: 1px;
    height: 180px;
}

.conquistas-grid {
    background-color: $whitedark; 
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* sempre 2 colunas */
    gap: 10px; /* espaço entre itens */
    max-height: 420px; /* altura fixa — pode ajustar */
    overflow-y: auto; /* scroll vertical */
    padding-right: 5px; /* evita que o scroll cubra imagens */
    border-radius: 10px;
    padding: 20px;

    &::-webkit-scrollbar-track {
        background: transparent; /* fundo */
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: $greylight; /* cor do “botão” */
        border-radius: 10px;
    }
}

/* deixa as imagens bonitas e ajustadas */
.conquistas-grid img {
    margin: 10px 0;
    width: 100px;
    height: auto;
    display: block;
}

:host-context(body.modo-escuro) {
    .username {
        color: $greylight;
    }
    .points {
        color: $greylight;
    }
    .estatisticas {
        background-color: $greydark; 
        border-radius: 10px;
    }
    .desc {
        color: $greylight; 
        font-weight: 700;

        h1 {
            font-family: 'Rawline Bold', sans-serif; 
            color: $white; font-weight: bolder;
        }
    }
    .conquistas-grid {
        background-color: $greydark; 
        border-radius: 10px; 
        padding: 20px;
    }

    .modal-content {
        background-color: $blacktwo;
        color: $white;
    }

     
}

:host-context(body.modo-contraste) {
    .username {
        color: $ultrawhite;
    }
    .points {
        color: $ultrawhite;
    }
    .estatisticas {
        background-color: $blacktwo; 
        border-radius: 10px;
    }
    .desc {
        color: $ultrawhite; 
        font-weight: 700;
        h1 {
            font-family: 'Rawline Bold', sans-serif; 
            color: $ultrawhite; font-weight: bolder;
        }
    }
    .conquistas-grid {
        background-color: $blacktwo; 
        border-radius: 10px; 
        padding: 20px;
    }

    .modal-content {
        background-color: $blacktwo;  
        color: $white;
    }
}

@media (min-width: 320px) and (max-width: 386px) {
    .estatisticas {
        background-color: $whitedark; 
        border-radius: 10px;
        margin: 5px 5px 15px 5px;
        height: 480px;
    }

    .conquistas-grid {
        background-color: $whitedark; 
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* sempre 2 colunas */
        gap: 5px; /* espaço entre itens */
        max-height: 420px; /* altura fixa — pode ajustar */
        overflow-y: auto; /* scroll vertical */
        border-radius: 10px;
        padding: 20px;
        position: relative;
        right: 5px;
        width: 102%;

        &::-webkit-scrollbar-track {
            background: transparent; /* fundo */
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: $greylight; /* cor do “botão” */
            border-radius: 10px;
        }
    }

    /* deixa as imagens bonitas e ajustadas */
    .conquistas-grid img {
        margin: 10px 0;
        width: 89px;
        height: auto;
        display: block;
    }

    .btn-edit {
        background-color: $softpurple; 
        color: $white; 
        border-radius: 50px;
        padding: 10px 70px;
        font-size: 20px;
    }

    .img-user {
        margin-left: 5%;
    }
}

@media (min-width: 386px) and (max-width: 767px){
    .estatisticas {
        background-color: $whitedark; 
        border-radius: 10px;
        margin: 5px 5px 15px 5px;
        height: 480px;
    }

    .conquistas-grid {
        background-color: $whitedark; 
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* sempre 2 colunas */
        gap: 10px; /* espaço entre itens */
        max-height: 420px; /* altura fixa — pode ajustar */
        overflow-y: auto; /* scroll vertical */
        border-radius: 10px;
        padding: 20px;
        position: relative;
        right: 5px;
        width: 102%;

        &::-webkit-scrollbar-track {
            background: transparent; /* fundo */
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: $greylight; /* cor do “botão” */
            border-radius: 10px;
        }
    }

    h5 {
        margin-left: 5px;
    }

    /* deixa as imagens bonitas e ajustadas */
    .conquistas-grid img {
        margin: 10px 0;
        width: 120px;
        height: auto;
        display: block;
    }

    .btn-edit {
        background-color: $softpurple; 
        color: $white; 
        border-radius: 50px;
        padding: 10px 90px;
        font-size: 20px;
    }

    .img-user {
        margin-left: 5%;
    }
}

@media (min-width: 767px) and (max-width: 991px){
    .conquistas-grid img {
        margin: 20px 50px;
        width: 200px;
        height: auto;
        display: block;
    }

    .conquistas-grid {
        gap: 8px;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .conquistas-grid img {
        margin: 10px 0;
        width: 65px;
        height: auto;
        display: block;
    }

    .conquistas-grid {
        gap: 8px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px){
    .conquistas-grid img {
        margin: 10px 0;
        width: 75px;
        height: auto;
        display: block;
    }

    .descAtividade {
        width: 5000px !important;
        min-width: 100vh; 
    }
}