@import '../../../styles/colors.scss';

:host-context(body.modo-escuro) {
    & .container_entrar {
        background-color: $blacktwo;
        border: solid 2px rgb(31, 31, 31);
    }

    & .input_entrar {
        background-color: $blacktwo; 
        color: $white;
    }
    
    & .input_entrar:focus {
        background-color: $greydark;
        color: $white;
    }

    & .alert-danger {
        background-color: #cb4a4a;
        color: $white;
        border-color: #e37575;
    } 
}

:host-context(body.modo-contraste) {
    & .container_entrar {
        background-color: $ultrablack;
        border: solid 2px $aqua;
    }

    & .input_entrar {
        background-color: $ultrablack; 
        color: $ultrawhite;
        border-bottom: solid 2px $aqua;
    }
    
    & .input_entrar:focus {
        background-color: $blacktwo;
        color: $ultrawhite;
        border-bottom: solid 2px $aqua;
        caret-color: $aqua;
    }

    & .help_senha {
        color: $aqua;
    }

    & .alert-danger {
        background-color: #ffcc00;
        color: $ultrablack;
        border-color: #e37575;
    } 
}

.container_entrar {
    max-width: 90%;
    margin: 0 5%;
    display: flex; 
    flex-wrap: wrap; 
    border-radius: 5px; 
    border: solid 2px rgb(234, 234, 234);
}

.form_entrar{
    flex: 1; 
    margin: 8% 6%; 
    border-radius: 5px 0 0 5px;

    & h1 {
        width: 90%; 
        font-weight: bold; 
        line-height: 30px; 
        font-family: 'Rawline Bold', sans-serif ;
    }
}

.input_entrar {
    background-color: $white; 
    width: 100%; 
    border: none; 
    border-bottom: solid 2px $ultraorange;
}

.input_entrar:focus {
    border-color: $ultraorange;
    background-color: $whitedark;
    outline: none;
    caret-color: $ultraorange;
    border-radius: 10px 10px 0 0;
}

.btn-entrar {
    background-color: $ultrapurple; 
    color: $white;
    border-radius: 50px;
    margin: 0 5px;
    padding: 8px 20px;
}
.btn-entrar:hover {
    background-color: #7927cb; 
    color: $white;
}

.help_cadastro {
    font-size: 15px ; 
    color: $ultraorange; 
    font-weight: bold;
    cursor: pointer;
}

.help_senha {
    font-size: 10px ;
     color: #7927cb ; 
    font-weight: bold;
}

.abs_entrar {
    flex: 1; 
    padding: 10px;
    flex: 1; 
    padding: 10px;
    background: $ultraorange;
    background: linear-gradient(0deg, rgba(248, 100, 0, 1) 0%,  rgba(123, 39, 205, 1) 100%); 
    border-radius: 5px 0 0 5px;
    border-radius: 0 5px 5px 0;
}

.alert-danger {
    background-color: #ff9d9d;
    border-color: #e37575;
    font-size: 13px;
} 

@media (max-width: 220px) {
    .form_entrar{
        flex: 1; 
        margin: 11%; 
        border-radius: 5px 0 0 5px;
    }
    .abs_entrar {
        border-radius: 0 0 5px 5px;
    }
}
@media (min-width: 221px) and (max-width: 330px){
    .form_entrar{
        flex: 1; 
        margin: 21%; 
        border-radius: 5px 0 0 5px;
    }
    .abs_entrar {
        border-radius: 0 0 5px 5px;
    }
}
@media (min-width: 330px) and (max-width: 450px){
    .form_entrar{
        flex: 1; 
        margin: 28%; 
        border-radius: 5px 0 0 5px;
    }
    .abs_entrar {
        border-radius: 0 0 5px 5px;
    }
}