@import '../../../styles/colors.scss';


:host-context(body.modo-escuro)  {
    & #nome_usuario {
        color: $white;
    }

    & .balaofala {
        background-color: $white; 
        color: $black;
    }

    & .seta {
        border-left-color: $white;
    }
}

:host-context(body.modo-contraste)  {
    & #nome_usuario {
        color: $ultrawhite;
    }

    & .balaofala {
        background-color: $aqua; 
        color: $ultrablack;
    }

    & .seta {
        border-left-color: $aqua;
    }

    & .niveis {
        & .circulonivel1 {
            & p {
                color: $aqua;
            }
            
        }
        & .circulonivel2 {
            & p {
                color: $aqua;
            }
            
        }
    }

}

/*Nome Usuário Pág inicial*/
#nome_usuario {
    font-family: "Rawline Bold", sans-serif;
    text-align: center;
    color: $black;
    margin-top: 50px;
    font-weight: 700;
}

/*Balão de Fala Lisi*/
.balao_lisi {
    display: flex;
    justify-content: center;

    & img {
        width: 200px;
    }
}

.balaofala {
    background-color: $black; 
    color: $white;
    font-weight: 600;
    font-size: 15px;
    padding: 21px 50px 50px 50px;
    margin: 65px 20px 0 0;
    height: 120px;
    width: 280px;
    letter-spacing: 1px;
    border-radius: 10px;
}

.frasebalao::-webkit-scrollbar {
    width: 4px;
  }

  .frasebalao::-webkit-scrollbar-track {
    background: transparent;   /* deixa discreto */
  }

  .frasebalao::-webkit-scrollbar-thumb {
    background: rgb(84, 84, 84); /* roxo suave */
    border-radius: 10px;
  }

  .frasebalao::-webkit-scrollbar-thumb:hover {
    background: rgba(127, 99, 164, 0.6);
  }


.seta {
    margin-top: 105px;
    margin-left: -21px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: $black;
}

/*AJUSTE PARA DIFERENTES TAMANHOS DE TELA - RESPONSIVO*/

@media (min-width: 320px) and (max-width: 450px) {
    /*Balão de Fala Lisi*/
    .balao_lisi {
        width: 85%;
        & img {
            width: 120px;
        }
    }
    
    .balaofala {
        font-size: 10px;
        padding: 20px 15px 20px 15px;
        margin: 30px 20px 0 10px;
        height: 90px;
        width: 200px;
        letter-spacing: 1px;
        border-radius: 10px;     /* só aparece se precisar */
    }
    
    .seta {
        margin-top: 60px;
        margin-left: -21px;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-left-color: $black;
    }

    #nome_usuario {
        font-size: 35px;
        text-align: left;
        margin-left: 11%;
    }

    .frasebalao {
        max-height: 65px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media (min-width: 450px) and (max-width: 480px) {
    /*Balão de Fala Lisi*/
    .balao_lisi {
        width: 85%;
        & img {
            width: 135px;
        }
    }
    
    .balaofala {
        font-size: 10px;
        padding: 20px 15px 20px 15px;
        margin: 40px 20px 0 10px;
        height: 90px;
        width: 200px;
        letter-spacing: 1px;
        border-radius: 10px;     /* só aparece se precisar */
    }
    
    .seta {
        margin-top: 65px;
        margin-left: -21px;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-left-color: $black;
    }

    #nome_usuario {
        font-size: 40px;
        text-align: left;
        margin-left: 10%;
    }

    .frasebalao {
        max-height: 65px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media (min-width: 480px) and (max-width: 500px) {
    /*Balão de Fala Lisi*/
    .balao_lisi {
        width: 90%;
        & img {
            width: 145px;
        }
    }
    
    .balaofala {
        font-size: 12px;
        padding: 20px 15px 20px 15px;
        margin: 40px 20px 0 10px;
        height: 90px;
        width: 200px;
        letter-spacing: 1px;
        border-radius: 10px;     /* só aparece se precisar */
    }
    
    .seta {
        margin-top: 65px;
        margin-left: -21px;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-left-color: $black;
    }

    #nome_usuario {
        font-size: 42px;
        text-align: left;
        margin-left: 10%;
    }

    .frasebalao {
        max-height: 65px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media (min-width: 500px) and (max-width: 575px) {
    /*Balão de Fala Lisi*/
    .balao_lisi {
        width: 100%;
        & img {
            width: 150px;
        }
    }
    
    .balaofala {
        font-size: 12px;
        padding: 20px 15px 20px 15px;
        margin: 40px 20px 0 10px;
        height: 90px;
        width: 200px;
        letter-spacing: 1px;
        border-radius: 10px;     /* só aparece se precisar */
    }
    
    .seta {
        margin-top: 65px;
        margin-left: -21px;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-left-color: $black;
    }

    #nome_usuario {
        font-size: 42px;
        text-align: left;
        margin-left: 10%;
    }

    .frasebalao {
        max-height: 65px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media (min-width: 575px) {
    .frasebalao {
        max-height: 85px;
        width: 200px;
        margin-left: -10px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}