    @if(!isLogged){
        <app-header-simple></app-header-simple>
    } @else {
        <app-header></app-header>
    }

    <div class="container" style="width: 70%; padding: 5%;">
        <h1>Sobre Nós</h1>
        <p>Somos uma equipe apaixonada pela inclusão e pela comunicação entre pessoas surdas e ouvintes. Nossa plataforma de ensino de Libras (Língua Brasileira de Sinais) nasceu com o propósito de aproximar comunidades por meio da educação acessível, moderna e respeitosa com a cultura surda.</p>

        <h3>Quem Somos</h3>
        <p>Formamos um grupo de profissionais de tecnologia que acreditam no poder da comunicação para transformar vidas. Trabalhamos para criar experiências de aprendizado significativas e um mundo mais inclusivo.</p>
        
        <h3>Nossa Missão</h3>
        <p>Promover a inclusão social por meio do ensino da Libras, tornando a comunicação acessível a todos. Buscamos contribuir para uma sociedade mais empática, conectada e consciente da importância da diversidade linguística e cultural.</p>
        
        <h3>O que Oferecemos</h3>
        <p>&#x2022; Cursos Online de Libras: do nível básico ao avançado, com conteúdos interativos e dinâmicos.</p>
        <p>&#x2022; Materiais Didáticos Acessíveis: vídeos, apostilas digitais e exercícios práticos.</p>
        <p>&#x2022; Comunidade de Aprendizagem: espaço para troca de experiências entre alunos, professores e pessoas surdas.</p>

    </div>

    <app-footer></app-footer>

    <!--PLUGIN VLIBRAS-->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>