@import '../../../styles/colors.scss';

:host-context(body.modo-escuro) {
  h1 {
    color: $white;
  }
}

:host-context(body.modo-contraste) {
  h1 {
    color: $ultrawhite;
  }
}

h1 {
  font-family: "Rawline Bold", sans-serif;
  text-align: center;
  color: $black;
  margin-top: 50px;
  font-weight: 700;
}

h3 {
    font-weight: bold;
}

.img-sobre {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}