@if(isLogged){
    <app-header></app-header>
} @else {
    <app-header-simple></app-header-simple>
}

<div class="container" style="width: 75%; padding: 0 5%; text-align: justify;">
    <div class="container" style="max-width: 95%;">
        <h1>Sobre Nós</h1>
    </div>

    <div class="row">
        <h3>Quem Somos</h3>
        <p>
            Somos uma equipe de estudantes comprometidos com tecnologia e inclusão, dedicada a criar soluções que promovam a acessibilidade. Nosso projeto surgiu do objetivo de tornar o aprendizado da Libras (Língua Brasileira de Sinais) mais intuitivo, interativo e acessível para todos, independentemente da experiência prévia.
        </p>
    </div>
<br>
    <div class="row align-items-center">
        <!-- Texto ocupa 8 colunas em telas médias+ e 12 em telas menores -->
        <div class="col-12 col-md-6">
            <h3>Nossa Missão</h3>
            <p>
                Promover a inclusão social por meio do ensino da Libras, tornando a comunicação acessível a todos. Buscamos contribuir para uma sociedade mais empática, conectada e consciente da importância da diversidade linguística e cultural.
            </p>
        <br>
            <h3>O Que Oferecemos</h3>
            <ul>
                <li>Aulas interativas de Libras, com lições teóricas e práticas.</li>
                <li>Exercícios e desafios para reforçar o aprendizado.</li>
                <li>Interface intuitiva e motivadora, adequada para todos os níveis de conhecimento.</li>
                <li>Feedback em tempo real, mostrando o progresso de cada usuário.</li>
            </ul>
        </div>

        <!-- Imagem ocupa 4 colunas em telas médias+ e 12 em telas menores -->
        <div class="col-12 col-md-6 text-center">
            <img src="img/Icone_web.png" class="img-fluid img-sobre" alt="...">
        </div>
    </div>
</div>

<br><br>
<app-footer></app-footer>

<!-- PLUGIN VLIBRAS -->
<div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
    </div>
</div>
