@import '../../../styles/colors.scss';


:host-context(body.modo-escuro) {
   .custom-alert-box {
  background-color: $softblack;
  width: 90%;          // ocupa quase toda a largura em telas pequenas
  max-width: 400px;    // limite em telas maiores
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
}
}

:host-context(body.modo-contraste) {
   .custom-alert-box {
  background-color: $black;
  width: 90%;          // ocupa quase toda a largura em telas pequenas
  max-width: 400px;    // limite em telas maiores
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
}
}

.custom-alert {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  z-index: 9999;
  opacity: 0;
  animation: fadeIn 0.25s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.btnclose {
  background-color: $softorange;
  color: white;
  font-family: 'Rawline Bold', sans-serif;
}

.custom-alert-box {
  background-color: #fff;
  width: 90%;          
  max-width: 400px;    
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

img {
  margin: 10px;
  width: 200px;
  position: relative;
  top: 70px;
}

h3 {
  margin: 15px 10px 25px 10px;
  font-size: 37px;
  font-family: 'Rawline Bold', sans-serif;
  
}

.stars {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 15px;
}


.star-filled {
  color: gold !important;
}

.star-empty {
  color: #d3d3d3 !important;
}

.alert-card {
  background: #fff;
  border-radius: 12px;
  padding: 30px 20px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
}

.alert-card .icon {
  margin-bottom: 20px;
}

.alert-card .title {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: bold;
}

.alert-card .message {
  font-size: 16px;
  margin-bottom: 20px;
}

.btnclose {
  background-color: $softorange;
  font-size: 20px;
  border: none;
  color: $white;
  padding: 20px 25px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}

.text-feedback {
  position: relative;
  bottom: 120px;
  max-width: 400px;
  max-height: 400px;
}

.alert-card .btn:hover {
  opacity: 0.9;
}

@media (min-width: 320px) and (max-width: 390px) {
  h3 {
    font-size: 28px;
  }

  p {
    font-size: 15px;
  }
}