@import '../../../styles/colors.scss';

img {
    width: 260px;
    margin: 0;
    position: relative;
    top: 50px;
}

h3 {
    text-transform: uppercase;
    font-family: 'Rawline Bold', sans-serif;
    font-size: 35px;
}

p {
    margin: 5%;
    text-align: justify;
}

.container-lisi {
  display: flex;
  position: relative;
  bottom: 30px;
  flex-direction: column; 
  align-items: center;    
}

.stars {
  display: flex;
  gap: 4px; 
  color: $greylight;
}
