<app-header-simple></app-header-simple>

    <!--CARROSSEL-->
    <header>
        <div id="carrossel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a (click)="pagcadastro()"><img src="img/Banner_carrossel1.png" class="d-block" alt="Banner promocional da plataforma Tec Libras. À esquerda, sobre fundo laranja, o texto diz: 'Comunicação acessível. Conheça a Tec Libras – Sua plataforma queridinha para o ensino de Libras!'. Abaixo, um botão preto com o texto 'Comece já' em roxo. À direita, um celular exibe a interface do app com níveis de aprendizado. Ao lado, lista de benefícios: 'Fácil de usar', 'Vídeos, teoria e prática dos sinais', 'Biblioteca de Sinais' e 'Para todas as idades', todos com ícones de verificação verde."></a> 
                </div>
                <div class="carousel-item">
                    <a (click)="pagcadastro()"><img src="img/Banner_carrossel2.png" class="d-block" alt="Banner promocional do app Tec Libras, com fundo colorido em roxo e laranja. À esquerda, o texto diz: 'Quer aprender de maneira fácil e rápida? A Tec Libras é o lugar ideal para você!'. Ao centro, um ícone com duas mãos se sobrepondo representa a Língua de Sinais. À direita, o texto 'Comece já' seguido de um botão laranja com os dizeres 'Entre ou cadastre-se!'."></a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carrossel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carrossel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </header>
    
    <br>
    <br>
    <br>
   
    <app-footer></app-footer>

    <!--PLUGIN VLIBRAS-->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>