/*Variáveis de Cores*/
$ultrablack: #000000;

$black: #292929;

$softblack: #393939;

$greydark: #555555;

$greylight: #c8c8c8;

$white: #f9f9f9;

$ultrawhite: #ffffff;

$ultrapurple: #7d29d2;

$softpurple: #BA73FF;

$ultraorange: #F86400;

$softorange: #FF9221;

$aqua: #00d5ff;