/*Variáveis de Cores*/
$ultrablack: #000000;

$blacktwo: #191919;

$black: #292929;

$softblack: #393939;

$greydark: #555555;

$greylight: #c8c8c8;

$whitedark: #eeeeee;

$white: #f9f9f9;

$ultrawhite: #ffffff;

$ultrapurple: #7d29d2;

$purple: #8e35e6;

$softpurple: #BA73FF;

$ultraorange: #F86400;

$softorange: #FF9221;

$aqua: #00d5ff;

$greenlight: #3AC1A8;