/*FONTE RAWLINE*/
@font-face {
    font-family: 'Rawline';
    src: url(/fonts/rawline-500.ttf) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rawline Bold';
    src: url(/fonts/rawline-800.ttf) format('woff2');
    font-weight: normal;
    font-style: normal;
}