<app-header></app-header>
<app-end-header></app-end-header>

<div class="container">
    <br>

    <div class="card card-subject">
        <div class="card-body">
            <!--seta para voltar (add link)-->
            <div style="display: flex;">
                <a class="back-arrow" (click)="PagInicio()"> < </a>
                <div>
                    <h6 class="card-subtitle mb-2">Aula Teórica</h6>
                    <h5 class="card-title"> Explorando o Tema</h5>
                </div>
            </div>

            <br>

            <!--Conteúdo-->
            <div class="container" style="max-width: 98%;">
                <!--barra de progresso-->
                <div style="display: flex;">
                    <div class="progress" style="width: 98%;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div> 
                    </div>
                    <p style=" position: relative; bottom: 10px; margin-left: 20px; font-weight: bold;">80%</p>
                </div>

                <!--Nome do Tema-->
                <h2>{{ title }}</h2>
                <br>

                <!--conteúdo-->
                <p id="text">{{ text }}</p>
                
                <br>
                
                <!--Botões de Voltar e Avançar-->
                <div class="d-flex gap-3 mt-3">
                    <!-- Botão Voltar -->
                    <a class="btn btn-voltar flex-fill" (click)="PagBack()"> Voltar </a>
                    <!-- Botão Avançar -->
                    <a class="btn btn-avancar flex-fill" (click)="PagNext()"> Avançar </a>
                </div>

            </div>

            
        </div>
    </div>

    <br>
    <br>
    
</div>


<app-footer></app-footer>