@import '../../../../styles/colors.scss';

:host-context(body.modo-escuro)  {
    .card {
        background-color: $softblack;
        color: $white;

        & h6 {
            color: $greylight;
        }

        & h5 {
        font-family: 'Rawline Bold';
        font-size: 15px;
        }
    }

    .btn-voltar {
        background-color: #0000003a;
    }

    .btn-voltar:hover {
        background-color: #0000008f;
    }

}

:host-context(body.modo-contraste)  {
    .card {
        background-color: $blacktwo;
        color: $white;

        & h6 {
            color: $white;
        }

        & h5 {
        font-family: 'Rawline Bold';
        font-size: 15px;
        }
    }

    .btn-voltar {
        background-color: #00000095;
        
    }

    .btn-voltar:hover {
        background-color: #5353533d;
    }
}

.back-arrow {
text-decoration: none;
color: $ultraorange;
position: relative;
bottom: 2.5px;
font-size: 30px; 
font-weight: bold; 
margin-right: 15px; 
position: relative; 
bottom: 10px;
}

.card {
    background-color: $white;
    padding: 12px 12px;

    & h6 {
        font-family: 'Rawline Bold';
        text-transform: uppercase;
        font-size: 12px;
        color: $greylight;
    }

    & h5 {
    font-family: 'Rawline Bold';
    font-size: 15px;
    }

    & h2 {
        font-family: 'Rawline Bold';

    }
}

.progress {
    height: 6px; 
    border-radius: 10px; 
    background-color: $whitedark;

    & .progress-bar {
        width: 80%; 
        background-color: $greenlight;
    }
}

.btn-voltar {
    border: 3px solid $ultraorange;
    background-color: #c13a3a00;
    color: $ultraorange;
    font-family: 'Rawline Bold';
    border-radius: 50PX;
}

.btn-voltar:hover {
    background-color: #00000011;
}

.btn-avancar {
    background-color: $ultraorange;
    color: $white;
    font-family: 'Rawline Bold'; 
    border-radius: 50PX;
}

.btn-avancar:hover {
    background-color: #d24d00;
}
