@if(isLogged){
    <app-header></app-header>
    <app-end-header></app-end-header>
} @else {
    <app-header-simple></app-header-simple>
    <app-end-header-simple></app-end-header-simple>
}

<br>
<br>
<div class="container mb-5" style="width: 80%; max-width: 90%;">
        <h1 class="mb-4">Termos e Condições de Uso – Tec Libras</h1>

        <p><strong>Última atualização:</strong> 29 nov. 2025</p>

        <p>
            Bem-vindo(a) à <strong>Tec Libras</strong>, uma plataforma digital destinada ao ensino e aprendizagem da 
            Língua Brasileira de Sinais (Libras). Ao acessar e utilizar nossos serviços, você concorda integralmente 
            com estes Termos e Condições de Uso.
        </p>

        <br>

        <h3 class="mt-4">1. Sobre a Plataforma Tec Libras</h3>
        <p>
            1.1. A <strong>Tec Libras</strong> é uma plataforma desenvolvida <strong>sem fins lucrativos</strong>, criada como parte de um 
            <strong>Trabalho de Conclusão de Curso (TCC)</strong> realizado por estudantes da <strong>ETEC de Praia Grande</strong>.<br>
            1.2. O projeto tem finalidade educacional, social e acadêmica.<br>
            1.3. Todo o conteúdo é disponibilizado exclusivamente para fins pedagógicos.
        </p>

        <h3 class="mt-4">2. Uso da Plataforma</h3>
        <p>
            A plataforma destina-se totalmente ao ensino de Libras. É proibido utilizá-la para fins ilícitos, ofensivos 
            ou para violar direitos de terceiros.
        </p>

        <h3 class="mt-4">3. Propriedade Intelectual</h3>
        <p>
            Todos os conteúdos disponibilizados são protegidos por direitos autorais. É proibida a reprodução sem 
            autorização.
        </p>

        <h3 class="mt-4">4. Acessibilidade</h3>
        <p>
            A plataforma inclui:
            <ul>
                <li>VLibras para tradução;</li>
                <li>Modo Escuro;</li>
                <li>Modo Alto Contraste;</li>
                <li>Navegação compatível com leitores de tela.</li>
            </ul>
            Alguns recursos podem variar conforme o dispositivo ou navegador.
        

        <h3 class="mt-4">5. Privacidade e Dados</h3>
        <p>
            Dados coletados são utilizados apenas para experiência de uso, conforme a LGPD.
        </p>

        <h3 class="mt-4">6. Contato</h3>
        <p>
            Para suporte: <strong><a href="mailto:teclibrasoficial@gmail.com" style="color: blueviolet;">teclibrasoficial&#64;gmail.com</a></strong>.
        </p>
</div>

<app-footer></app-footer>