@import '../../../styles/colors.scss';

:host-context(body.modo-escuro) {
    h2 {
        color: $white;
    }

    & .form-control, .input-group-text{
        background-color: $greydark; 
        border: 1px solid $greylight;
        color: $white;
    }

     & .form-control::placeholder{
        color: $greylight;
    }

    & .form_cadastro p {
        color: $white;
    }
}

:host-context(body.modo-contraste) {
    h2 {
        color: $ultrawhite;
    }

    & .form-control {
        background-color: $black; 
        border: 2px solid $aqua;
        color: $white;
    }

    & .input-group-text{
        background-color: $aqua; 
        border: 2px solid $aqua;
        color: $ultrablack;
    }

     & .form-control::placeholder{
        color: $white;
    }

    & .form_cadastro p {
        color: $white;
    }
    
    & .input_cadastro:focus {
        background-color: $black;
        color: $white;
    }
}

h2 {
    font-family: "Rawline Bold", sans-serif;
    text-align: center;
    color: $black;
    font-weight: 700;
  }

.btn-cadastrar-tema {
    background-color: $ultraorange;
    color: $white;
    border-radius: 50px;
    font-weight: bold;
    padding: 12px 0 ;
    transition: background-color 0.3s ease;
}
.btn-cadastrar-tema:hover {
    background-color: $softorange;
}

.btn-voltar {
    margin-top: 50px;
    color: $ultraorange;
    text-decoration: none;
    font-weight: 700;
}
.btn-voltar:hover {
    color: $ultraorange;
}