<app-header></app-header>

<div class="container">
    <br>

    <div class="card card-subject">
        <div class="card-body">
            <!--seta para voltar (add link)-->
            <div style="display: flex;">
                <a class="back-arrow"> < </a>
                <div>
                    <h6 class="card-subtitle mb-2">Aula Prática</h6>
                    <h5 class="card-title"> Vamos praticar! </h5>
                </div>
            </div>

            <br>

            <!--Conteúdo-->
            <div class="container" style="max-width: 98%;">
                <!--barra de progresso-->
                <div style="display: flex;">
                    <div class="progress" style="width: 98%;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div> 
                    </div>
                    <p style=" position: relative; bottom: 10px; margin-left: 20px; font-weight: bold;">80%</p>
                </div>

                <!--Nome do Tema-->
                <h2>Nome do Tema</h2>
                <br>

                <!--conteúdo-->
                <p>Clique no botão abaixo para ativar sua câmera e realizar a aula prática. </p>

                    <div class="container videoView">
                        <button class="btn btn-ativar-cam" (click)="enableCam()">
                            {{ enableWebcamButtonLabel }}
                        </button>
                        <br>
                        <br>
                            <div style="position: relative;">
                            <video #video autoplay playsinline></video>
                            <canvas #canvas id="output_canvas" width="1280" height="720"></canvas>
                            <p #gestureOutput class="output"></p>
                        </div>
                    </div>

                <br>

                <p>Status: <b class="correct-sign">Correto!</b></p>

                <br>
                
                <!--Botões de Voltar e Avançar-->
                <div class="d-flex gap-3 mt-3">
                    <!-- Botão Voltar -->
                    <a class="btn btn-voltar flex-fill"> Voltar </a>
                    <!-- Botão Avançar -->
                    <a class="btn btn-avancar flex-fill"> Avançar </a>
                </div>

            </div>

            
        </div>
    </div>

    <br>
    <br>
    
</div>


<app-footer></app-footer>