<app-header></app-header>
<app-end-header></app-end-header>

<div class="container">
    <br>

    <div class="card card-subject">
        <div class="card-body">
            <!--seta para voltar (add link)-->
            <div style="display: flex;">
                <a class="back-arrow" (click)="PagInicio()"> < </a>
                <div>
                    <h6 class="card-subtitle mb-2 ">Questionário</h6>
                    <h5 class="card-title"> Teste seus conhecimentos</h5>
                </div>
            </div>

            <br>

            <!--Conteúdo-->
            <div class="container main-container">
                <!--barra de progresso-->
                <div style="display: flex;">
                    <div class="progress" style="width: 98%;">
                        <div class="progress-bar" 
                             role="progressbar" 
                             [attr.aria-valuenow]="levelProgress" 
                             aria-valuemin="0" 
                             aria-valuemax="100"
                             [style.width.%]="levelProgress"></div> 
                    </div>
                    <p style="position: relative; bottom: 10px; margin-left: 20px; font-weight: bold;">
                        {{ levelProgress }}%
                    </p>
                </div>

                <!--Nome do Tema-->
                <h2>{{ title }}</h2>
                <br>

                <div class="question-container">

                    <p><b class="question">Pergunta {{ questionIndex + 1 }}.</b> {{ currentQuestion?.question }}</p>

                    <br>

                    <div class="options">
                        <button class="option" 
                                *ngFor="let opt of optionKeys"
                                [ngClass]="getOptionClass(opt)"
                                (click)="selectOption(opt)">
                            {{ currentQuestion?.options[opt] }}
                        </button>
                    </div>

                    <br>

                    
                </div>

                <br>

            </div>

            
        </div>
    </div>

    <br>
    <br>
    
</div>

<app-lisi-feedback (closed)="close()"></app-lisi-feedback>


<app-footer></app-footer>