@import '../../../../styles/colors.scss';

:host-context(body.modo-escuro)  {
    .card {
        background-color: $greydark;
        color: $white;

        & h6 {
            color: $whitedark;
        }

        & h5 {
        font-family: 'Rawline Bold';
        font-size: 15px;
        }
    }

    .question {
        color:#b27cff; 
    }
    
    .option {
        background-color: $softblack !important;
        color: $white;
    }

    .progress {
    height: 6px; 
    border-radius: 10px; 
    background-color: $softblack;

    & .progress-bar {
        width: 80%; 
        background-color: $greenlight;
    }
}
.option-correct {
    background-color: #85bc3d !important;
    color: white;
    border: 2px solid #71a330 !important;
    font-weight: bold;
}

.option-wrong {
    background-color: #d64237 !important;
    color: white !important;
    border: 2px solid #c62828 !important;
    font-weight: bold;
}
}

:host-context(body.modo-contraste)  {
    .card {
        background-color: $blacktwo;
        color: $ultrawhite;

        & h6 {
            color: $ultrawhite;
        }

        & h5 {
        font-family: 'Rawline Bold';
        font-size: 15px;
        }
    }

    .question {
        color:$aqua; 
    }
    
    .option {
        background-color: $ultrablack !important;
        border: 2px solid $aqua;
        color: $ultrawhite;
        font-weight: bolder;
    }

    .progress {
    height: 6px; 
    border-radius: 10px; 
    background-color: $black;

    & .progress-bar {
        width: 80%; 
        background-color: $aqua;
    }
}

.option-correct {
    background-color: #85bc3d !important;
    color: white;
    border: 2px solid #71a330 !important;
    font-weight: bold;
}

.option-wrong {
    background-color: #d64237 !important;
    color: white !important;
    border: 2px solid #c62828 !important;
    font-weight: bold;
}
}

.back-arrow {
    text-decoration: none;
    color: $ultraorange;
    position: relative;
    bottom: 2.5px;
    font-size: 30px; 
    font-weight: bold; 
    margin-right: 15px; 
    position: relative; 
    bottom: 10px;
}

.card {
    background-color: $white;
    padding: 12px 12px;

    & h6 {
        font-family: 'Rawline Bold';
        text-transform: uppercase;
        font-size: 12px;
        color: $greydark;
    }

    & h5 {
    font-family: 'Rawline Bold';
    font-size: 15px;
    }

    & h2 {
        font-family: 'Rawline Bold';
        
    }
}

.progress {
    height: 6px; 
    border-radius: 10px; 
    background-color: $whitedark;

    & .progress-bar {
        width: 80%; 
        background-color: $greenlight;
    }
}

.btn-avancar {
    background-color: $ultraorange;
    color: $white;
    font-family: 'Rawline Bold'; 
    border-radius: 50PX;
}

.btn-avancar:hover {
    background-color: #d24d00;
}

.btn-voltar {
    border: 3px solid $ultraorange;
    color: $ultraorange;
    font-family: 'Rawline Bold'; 
    border-radius: 50PX;
}

.btn-voltar:hover {
    background-color: #d24d00;
}

.option {
    background-color: #cccccc;
    color: $blacktwo;
    border: none;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}


.option:hover:not(.option-correct):not(.option-wrong) {
    background-color: #b3b3b3;
}

.option-correct {
    background-color: #85bc3d !important;
    color: white;
    border: 2px solid #71a330 !important;
    font-weight: bold;
}

.option-wrong {
    background-color: #d64237 !important;
    color: white !important;
    border: 2px solid #c62828 !important;
    font-weight: bold;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.question {
    color:$ultrapurple; 
    font-family: 'Rawline Bold';
}

.main-container {
    max-width: 80%;
}

/*tablet*/
@media (max-width: 1024px) and (min-width: 768px) {
    .main-container {
        max-width: 95%;
    }
}

/* Celular */
@media (max-width: 767px) {
   .main-container {
        max-width: 100%;
    }
}