@import '../../../styles/colors.scss';

h2 {
    font-family: "Rawline Bold", sans-serif;
    text-align: center;
    color: $black;
}

.btn-voltar {
    color: $ultraorange;
    text-decoration: none;
    font-weight: 700;
    
    margin-top: 50px;
}

.btn-editar {
    background-color: $ultraorange;
    color: $white;
}

.btn-editar:hover {
    background-color: $softorange;
}

.btn-role {
    background-color: $ultrapurple;
    color: $white;
    margin: 0 5px;
}

.btn-role:hover {
    background-color: $softpurple;
}

:host-context(body.modo-escuro) {
    .modal-content{
        background-color: $black;
        color: $white;
    }
    
    h2 {
        color: $white;
    }

    /* Colunas ímpares */
    table.table td:nth-child(odd), table.table th:nth-child(odd) {
        background-color: $softblack; 
        color: $white;
        border: 2px solid $greydark;
    }

    /* Colunas pares */
    table.table td:nth-child(even), table.table th:nth-child(even) {
        background-color: $black; 
        color: $white;
        border: 2px solid  $softblack;
    }
}

:host-context(body.modo-contraste) {
    .modal-content{
        background-color: $ultrablack;
        color: $white;
        fill: $white;

        & .btn-close {
            color: $white;
            fill: $white;
        }
    }

    h2 {
        color: $ultrawhite;
    }

    /* Colunas ímpares */
    table.table td:nth-child(odd), table.table th:nth-child(odd) {
        background-color: $ultrablack; 
        color: $ultrawhite;
        border: 2px solid $aqua;
    }

    /* Colunas pares */
    table.table td:nth-child(even), table.table th:nth-child(even) {
        background-color: $black; 
        color: $ultrawhite;
        border: 2px solid $aqua;
    }
}