@import '../../../styles/colors.scss';

:host-context(body.modo-escuro){
    .card {
        background-color: $softblack;
        color: $white;
    }
}

:host-context(body.modo-contraste){
    .card {
        background-color:  $black;
        color: $ultrawhite;
    }
}

a {
    background-color: $ultrapurple;
    color: $white;
    font-weight: bold;
}