<!--SINAIS CARD-->
<div class="col card_sinais">
    <div class="card h-100" style="border: none;">
        <img 
            [src]="dadosSinal?.imagem || 'img/Icone_web.png'" 
            class="card-img-top" 
            [alt]="dadosSinal?.nome || 'Imagem do sinal'">
        <div class="card-body">
            <h5 class="card-title" style="line-height: 25px;">
                {{ dadosSinal?.nome || 'Nome do Sinal' }}
            </h5>
            <p class="card-text">{{ dadosSinal?.categoria || 'Categoria' }}</p>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">
                <a [href]="dadosSinal?.link || '#'" class="btn col-lg-12">Ver</a>
            </small>
        </div>
    </div>
</div>
