<!--SINAIS CARD-->
<div class="col card_sinais" id="categoria1">
    <div class="card h-100" style="border: none;">
        <img src="img/Icone_web.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
            <p class="card-text">Categoria</p>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
        </div>
    </div>
</div>