@import '../../../styles/colors.scss';

/* ------------------ TEMAS ------------------ */
:host-context(body.modo-escuro)  {
    #nome_usuario {
        color: #F9F9F9;
    }

    .balaofala {
        background-color: #f9f9f9; 
        color: #292929;
    }

    .seta {
        border-left-color: #f9f9f9;
    }
}

:host-context(body.modo-contraste)  {
    #nome_usuario {
        color: #ffffff;
    }

    .balaofala {
        background-color: #00E6FF; 
        color: #000000;
    }

    .seta {
        border-left-color: #00E6FF;
    }
}

/* ------------------ BALÃO LISI (DESKTOP) ------------------ */
.balao_lisi {
    display: flex;
    justify-content: center;

    img {
        width: 200px;
    }
}

.balaofala {
    background-color: $black; 
    color: $white;
    font-weight: 600;
    font-size: 15px;
    padding: 21px 50px 50px 50px;
    margin: 65px 20px 0 0;
    height: 120px;
    width: 280px;
    letter-spacing: 1px;
    border-radius: 10px;
}

.seta {
    margin-top: 105px;
    margin-left: -21px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: $black;
}

/* Scroll do texto */
.frasebalao::-webkit-scrollbar {
    width: 4px;
}

.frasebalao::-webkit-scrollbar-track {
    background: transparent;
}

.frasebalao::-webkit-scrollbar-thumb {
    background: rgb(84, 84, 84);
    border-radius: 10px;
}

.frasebalao::-webkit-scrollbar-thumb:hover {
    background: rgba(127, 99, 164, 0.6);
}



/* ------------------ 575px+ (Mantém organização original) ------------------ */
@media (min-width: 575px) {
    .frasebalao {
        max-height: 85px;
        width: 200px;
        margin-left: -10px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

/* ------------------ INTERVALOS ESPECÍFICOS ------------------ */
@media (min-width: 320px) and (max-width: 450px) {
    .balao_lisi {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-top: 120px;
    }

    .balao_lisi img {
        z-index: 1;
        position: relative;
        right: 10px;
        top: 30px;
        width: 200px;
    }

    .balaofala {
        position: absolute;
        bottom: 250px;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        padding: 18px 15px;
        background-color: $black;
        color: $white;
        font-size: 12px;
        border-radius: 12px;
        z-index: 10;
    }

    .seta {
        position: relative;
        bottom: 211px;
        left: 111px;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-left-color: $black;
        transform: rotate(90deg); 
    }

    .frasebalao {
        max-height: 87px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media (min-width: 450px) and (max-width: 575px) {
    
    .balao_lisi {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-top: 120px;
    }

    .balao_lisi img {
        z-index: 1;
        position: relative;
        right: 10px;
        top: 30px;
        width: 250px;
    }

    .balaofala {
        position: absolute;
        bottom: 300px;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        padding: 18px 15px;
        background-color: $black;
        color: $white;
        font-size: 12px;
        border-radius: 12px;
        z-index: 10;
    }

    .seta {
        position: relative;
        bottom: 262px;
        left: 135px;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-left-color: $black;
        transform: rotate(90deg); 
    }

    .frasebalao {
        max-height: 87px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
