    <app-header></app-header>
    
    <div class="container" style="max-width: 90%;">
        <h2>Biblioteca de Sinais</h2>
        <p style="text-align: center;">Aqui você encontra histórias, explicações e mini-atividades sobre todos os sinais disponíveis em nossa plataforma.</p>    
    </div>
    
    <br>
    <br>
    
    <!--LINKS DOS SINAIS-->
    <div class="container my-5" style="max-width: 70%;">
        <div class="row row-cols-1 row-cols-md-4 g-4">

            <!--SINAIS CARD-->
            <div class="col card_sinais" id="categoria1">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div> 

            <div class="col card_sinais" id="categoria1">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div> 

            <div class="col card_sinais" id="categoria1">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div> 

            <div class="col card_sinais" id="categoria1">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div> 

            <div class="col card_sinais" id="categoria1">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div> 

            <div class="col card_sinais" id="categoria1">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div> 

            <div class="col card_sinais" id="categoria1">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div> 

            <div class="col card_sinais" id="categoria1">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div> 

            <div class="col card_sinais" id="categoria1">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div> 

            <div class="col card_sinais" id="categoria1">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div> 

            <div class="col card_sinais" id="categoria1">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div> 

            <div class="col card_sinais" id="categoria1">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div> 

            <div class="col card_sinais" id="categoria1">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div> 

            <div class="col card_sinais"  id="categoria1">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div>

            <div class="col card_sinais"  id="categoria1">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div> 

            <div class="col card_sinais"  id="categoria1">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div> 

            <div class="col card_sinais"  id="categoria2">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div> 

            <div class="col card_sinais"  id="categoria3">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div>

            <div class="col card_sinais"  id="categoria3">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div>

            <div class="col card_sinais"  id="categoria3">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div>

            <div class="col card_sinais"  id="categoria1">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div> 

            <div class="col card_sinais"  id="categoria1">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div>

            <div class="col card_sinais"  id="categoria1">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div> 

            <div class="col card_sinais"  id="categoria1">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div> 

            <div class="col card_sinais"  id="categoria2">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div> 

            <div class="col card_sinais"  id="categoria3">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div>

            <div class="col card_sinais"  id="categoria3">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div>

            <div class="col card_sinais"  id="categoria3">
                <div class="card h-100" style="border: none;">
                    <img src="img/Icone_web.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="line-height: 25px;">Nome do Sinal</h5>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><a href="" class="btn col-lg-12">Ver</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Páginação dos Sinais-->

    <nav aria-label="Navegação de página">
        <ul class="pagination justify-content-center" id="paginacao">
          
        </ul>
    </nav>
    
    <br>
    <br>
   
    <app-footer></app-footer>

    <!--PLUGIN VLIBRAS-->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>