@import '../../../styles/colors.scss';

:host-context(body.modo-escuro) {
    & h2 {
        color: $white;
    }  
    & p {
        color: $greylight;
    }
  }
  
  :host-context(body.modo-contraste)  {
    & h2,p {
        color: $ultrawhite;
    }
  }
  
  /*TITULO DA PÁGINA*/
  h2 {
    font-family: "Rawline Bold", sans-serif;
    text-align: center;
    color: $black;
    margin-top: 50px;
    font-weight: 700;
  }

  @media (max-width: 575px)  {
  .container {

    & h2 {
      font-size: 30px;
      margin-top: 80px;
    }
    & p {
      margin: 10px;
      font-size: 13px;
    }
  }
}