.btn-entrar {
    background-color: #F86400; 
    color: #f9f9f9;
    border-radius: 50px;
    margin: 0 5px;
    padding: 8px 20px;
}
.btn-entrar:hover {
    background-color: #db5901; 
    color: #f9f9f9;
}

.btn-cadastrar {
    background-color: #9E3FFA; 
    color: #f9f9f9;
    border-radius: 50px;
    margin: 0 5px;
    padding: 8px 20px;
}
.btn-cadastrar:hover {
    background-color: #8431d8; 
    color: #f9f9f9;
}