<app-header></app-header>

    <div class="container">
        <!--N do Nivel e seta de voltar (add link)-->
        <h2><a class="back-arrow" (click)="PagBack()"> < </a> {{ title }} </h2>
        <br>    
        <p>{{ description }}</p>

        <!--Cards dos tópicos dos temas-->

        <!--AULA TEÓRICA-->
        <a class="card-tema" (click)="PagTeorica()">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">Aula Teórica</h6>
                    <h4 class="card-title">Explorando o Tema</h4>
                </div>
            </div>
        </a>

        <!--DEMONSTRAÇÕES-->
        <a class="card-tema" (click)="PagDemonstracao()">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">Demonstrações</h6>
                    <h4 class="card-title">Como faz?</h4>
                </div>
            </div>
        </a>

        <!--AULA PRÁTICA-->
        <a class="card-tema" (click)="PagPratica()">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">Aula Prática</h6>
                    <h4 class="card-title">Vamos praticar!</h4>
                </div>
            </div>
        </a>

        <!--QUIZ-->
        <a class="card-tema" (click)="PagQuestionario()">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">Questionário</h6>
                    <h4 class="card-title">Teste seus conhecimentos</h4>
                </div>
            </div>
        </a>

        <!--CURIOSIDADES-->
        <a class="card-tema" (click)="PagCuriosidades()">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">Curiosidades</h6>
                    <h4 class="card-title">Sabia dessa?</h4>
                </div>
            </div>
        </a>
        
    </div>
    <br>

<app-footer></app-footer>