@import '../../../../styles/colors.scss';

:host-context(body.modo-escuro) {
    h2 {
        color: white;
    }
    .card {
        background-color: $blacktwo;
        color: white
    }

    .text-body-secondary {
        color: $greylight !important;
    }
    
}

:host-context(body.modo-contraste) {
    h2 {
        color: $ultrawhite;
    }
    .card {
        background-color: $ultrablack;
        border: 2px solid $aqua;
        color: $ultrawhite;
    }

    .text-body-secondary {
        color: $ultrawhite !important;
    }
    
}

h2 {
    font-family: "Rawline Bold", sans-serif;
    color: $softblack;
    margin-top: 50px;
    font-weight: 700;
}

.container {
    max-width: 70%;
}

p {
    text-align: justify;
}

.back-arrow {
text-decoration: none;
color: $ultraorange;
position: relative;
bottom: 2.5px;

}

.card-tema {
    text-decoration: none;
    margin: 10px;

    & .card {
        background-color: $whitedark;
        padding: 9px 40px 3px 40px;

        & h6 {
            font-family: 'Rawline Bold';
            text-transform: uppercase;
        }

        & h4 {
            font-family: 'Rawline Bold';
        }
    }
   
}

@media (max-width: 1024px) and (min-width: 768px) {
    .container {
        max-width: 80%;
    }
    
}

@media (max-width: 767px) {
     .container {
        max-width: 90%;
    }
}