h2 {
    font-family: "Rawline Bold", sans-serif;
    color: #292929;
    margin-top: 50px;
    font-weight: 700;
}

.container {
    max-width: 70%;
}

p {
    text-align: justify;
}

.back-arrow {
text-decoration: none;
color: #FF5733;
position: relative;
bottom: 2.5px;

}

.card-tema {
    text-decoration: none;
    margin: 10px;

    & .card {
        background-color: #E7E7E7;
        padding: 9px 40px 3px 40px;

        & h6 {
            font-family: 'Rawline Bold';
            text-transform: uppercase;
        }

        & h4 {
            font-family: 'Rawline Bold';
        }
    }
   
}

@media (max-width: 1024px) and (min-width: 768px) {
    .container {
        max-width: 80%;
    }
    
}

@media (max-width: 767px) {
     .container {
        max-width: 90%;
    }
}