<app-header></app-header>

    <div class="container">
        <h2>< Tema Escolhido </h2>
        <br>    
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur eveniet quod commodi corrupti dignissimos nobis illum molestiae magni aliquid. Nulla voluptate modi quae obcaecati error deserunt perspiciatis harum laborum sint. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab fugit error voluptatibus iure dolorum cumque exercitationem dolores quisquam, itaque quos neque nulla velit dolorem adipisci sint vel cupiditate tempore voluptatem.</p>

        <!--Cards dos tópicos dos temas-->

        <!--AULA TEÓRICA-->
        <a class="card-tema" >
            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">Aula Teórica</h6>
                    <h4 class="card-title">Explorando o Tema</h4>
                </div>
            </div>
        </a>

        <!--DEMONSTRAÇÕES-->
        <a class="card-tema" >
            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">Demonstrações</h6>
                    <h4 class="card-title">Como faz?</h4>
                </div>
            </div>
        </a>

        <!--AULA PRÁTICA-->
        <a class="card-tema" >
            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">Aula Prática</h6>
                    <h4 class="card-title">Vamos praticar!</h4>
                </div>
            </div>
        </a>

        <!--QUIZ-->
        <a class="card-tema" >
            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">Questionário</h6>
                    <h4 class="card-title">Teste seus conhecimentos</h4>
                </div>
            </div>
        </a>

        <!--CURIOSIDADES-->
        <a class="card-tema" >
            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">Curiosidades</h6>
                    <h4 class="card-title">Sabia dessa?</h4>
                </div>
            </div>
        </a>
        
    </div>
    <br>

<app-footer></app-footer>