@import '../../../../styles/colors.scss';


:host-context(body.modo-escuro)  {
    h2 {
        color: $white;
    }
}

:host-context(body.modo-contraste)  {
    h2 {
        color: $ultrawhite;
    }
}

h2 {
    font-family: "Rawline Bold", sans-serif;
    color: $black;
    margin-top: 50px;
    font-weight: 700;
}

.progress {
    height: 6px !important; 
    border-radius: 10px !important; 
    background-color: $whitedark !important;

    & .progress-bar {
        
        background-color: $greenlight !important;
    }
}

.back-arrow {
text-decoration: none;
color: $ultraorange;
position: relative;
bottom: 2.5px;

}
