<app-header></app-header>
<app-end-header></app-end-header>

<div class="container" style="max-width: 80%;">
    <!--N do Nivel e seta de voltar (add link)-->
    <h2><a class="back-arrow" (click)="PagBack()"> < </a> Nível {{ level_id }}</h2>
    <br>    

    <!--barra de progresso-->
    <div style="display: flex;">
        <div class="progress" style="width: 98%;">
            <div class="progress-bar" 
                 role="progressbar" 
                 [attr.aria-valuenow]="levelProgress" 
                 aria-valuemin="0" 
                 aria-valuemax="100"
                 [style.width.%]="levelProgress"
></div> 
        </div>
        <p style="position: relative; bottom: 10px; margin-left: 20px; font-weight: bold;">
            {{ levelProgress }}%
        </p>
    </div>
    
    <br>

    <!--Temas-->
    <div class="d-flex justify-content-center">
        <div class="row row-cols-2 row-cols-md-5 g-1">
            @if(isLoading) {
                <app-loading-section></app-loading-section>
            }
            <!--LINKS DOS NÍVEIS-->
            @for (n of item; track n.level) {
                <app-card-level-theme  
                    [level]="n.level" 
                    [title]="n.title" 
                    [subtitle]="n.subtitle" 
                    [percent]="n.percent" 
                    [levelstyle]="n.level % 2">
                </app-card-level-theme>   
            }   
        </div>
    </div>
    
</div>

<br>
<br>
<br>

<app-footer></app-footer>