<app-header></app-header>
<app-end-header></app-end-header>

<div class="container">
    <br>

    <div class="card card-subject">
        <div class="card-body">
            <!--seta para voltar (add link)-->
            <div style="display: flex;">
                <a class="back-arrow" (click)="PagInicio()"> < </a>
                <div>
                    <h6 class="card-subtitle mb-2">Aula Prática</h6>
                    <h5 class="card-title"> Vamos praticar! </h5>
                </div>
            </div>

            <br>

            <!--Conteúdo-->
            <div class="container" style="max-width: 95%;">
                <!--barra de progresso-->
                <div style="display: flex;">
                    <div class="progress" style="width: 98%;">
                        <div class="progress-bar" 
                             role="progressbar" 
                             [attr.aria-valuenow]="levelProgress" 
                             aria-valuemin="0" 
                             aria-valuemax="100"
                             [style.width.%]="levelProgress"></div> 
                    </div>
                    <p style="position: relative; bottom: 10px; margin-left: 20px; font-weight: bold;">
                        {{ levelProgress }}%
                    </p>
                </div>

                <!--Nome do Tema-->
                <h2 id="text">{{ text }}</h2>

                <br>

                <div class="d-grid gap-2 col-6 mx-auto" style="width: 80%;">
                        <button class="btn btn-ativar-cam" (click)="enableCam()">
                            {{ enableWebcamButtonLabel }}
                        </button>
                        <p><a class="btn btn-skip" (click)="skip()">Não consigo utilizar a câmera agora</a></p>
                    </div>

                <div class="container videoView">
                        <br>
                        <p>Ao realizar o sinal, aguarde 3 segundos para a confirmação</p>
                        <br>
                        <br>
                        <div class="videocontainer" style="position: relative;">
                            <video #video autoplay playsinline></video>
                            <canvas #canvas id="output_canvas" width="1280" height="720"></canvas>
                            
                        </div>

                        <p #gestureOutput class="output"></p>
                </div>

                <br>

                <br>

                <p>Status: <b [class]="status_class">{{ signal }}</b></p>


                

                <br>

            </div>

            
        </div>
    </div>

    <br>
    <br>
    
</div>

<app-lisi-feedback (closed)="close()" #alert></app-lisi-feedback>

<app-footer></app-footer>