@import '../../../../styles/colors.scss';

:host-context(body.modo-escuro)  {
    .card {
        background-color: $softblack;
        color: $white;

        & h6 {
            color: $greylight;
        }

        & h5 {
        font-family: 'Rawline Bold';
        font-size: 15px;
        }
    }

    .btn-voltar {
        background-color: #0000003a;
    }

    .btn-voltar:hover {
        background-color: #0000008f;
    }

    .correct-sign {
        color: #5cffe1;
    }

    .incorrect-sign {
        color: #ff8fb4;
    }

}

:host-context(body.modo-contraste)  {
    .card {
        background-color: #0b0b0b;
        color: #ffffff;

        & h6 {
            color: #ffffff;
        }

        & h5 {
        font-family: 'Rawline Bold';
        font-size: 15px;
        }
    }

    .btn-voltar {
        background-color: #00000095;
        
    }

    .btn-voltar:hover {
        background-color: #5353533d;
    }

    .correct-sign {
        color: #5cffe1;
    }

    .incorrect-sign {
        color: #ff5a5a;
    }
}

.back-arrow {
text-decoration: none;
color: $ultraorange;
position: relative;
bottom: 2.5px;
font-size: 30px; 
font-weight: bold; 
margin-right: 15px; 
position: relative; 
bottom: 10px;
}

.card {
    background-color: $white;
    padding: 12px 12px;

    & h6 {
        font-family: 'Rawline Bold';
        text-transform: uppercase;
        font-size: 12px;
        color: #808080;
    }

    & h5 {
    font-family: 'Rawline Bold';
    font-size: 15px;
    }

    & h2 {
        font-family: 'Rawline Bold';
        
    }
}

.progress {
    height: 6px; 
    border-radius: 10px; 
    background-color: $whitedark;

    & .progress-bar {
        width: 80%; 
        background-color: $greenlight;
    }
}

.correct-sign {
    color: #258d7a;
}

.incorrect-sign {
    color: #ac063e;
}

.btn-voltar {
    border: 3px solid $ultraorange;
    background-color: #c13a3a00;
    color: $ultraorange;
    font-family: 'Rawline Bold';
    border-radius: 50PX;
}

.btn-voltar:hover {
    background-color: #00000011;
}

.btn-avancar {
    background-color: $ultraorange;
    color: $white;
    font-family: 'Rawline Bold'; 
    border-radius: 50PX;
}

.btn-avancar:hover {
    background-color: #d24d00;
}


/* CONTAINER DO VÍDEO */
.videocontainer {
    position: relative;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50% ;
}

/* VÍDEO ESPALHADO E RESPONSIVO */
.videocontainer video {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    transform: scaleX(-1); /* espelha o vídeo, tire se não quiser */
}

/* CANVAS EXATAMENTE POR CIMA DO VÍDEO */
#output_canvas {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 450px !important;
    height: 350px !important;
    pointer-events: none;
    transform: scaleX(-1); /* espelha os pontos também */
    z-index: 2;  /* fica acima do vídeo */
}

@media (max-width: 768px) {
  .videocontainer {
    margin: 5%;
    max-width: 90%;     /* ocupar 90% da largura da viewport */
    aspect-ratio: 3 / 4; /* faz o container ficar vertical 3:4 */
    overflow: hidden;
  }

  .videocontainer video,
  #output_canvas {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }

  #output_canvas {
    margin-bottom: 20px;
    width: 8%;
    height: 8%;
  }
}

@media (min-width: 1400px) {
    .videocontainer {
    margin-left: 28% ;
}
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .videocontainer {
    margin-left: 23% ;
}
}

@media (min-width: 990px) and (max-width: 1200px) {
    .videocontainer {
    margin-left: 18% ;
}
}

@media (min-width: 768px) and (max-width: 990px) {
    .videocontainer {
    margin-left: 5% ;
}
}
