<app-header></app-header>

<div class="container">

        <a class="btn btn-voltar" (click)="paginicio()"> <b class="back-arrow"> < </b> Voltar</a>

        <br>
        <br>

        <div class="container">

            <div class="container my-4">
                <div class="row align-items-center g-4">
                    
                    <!-- Coluna da imagem -->
                    <div class="col-12 col-md-6 text-center">
                    <img src="/img/imgteste.png" class="img-fluid rounded" alt="Imagem">
                    </div>
                    
                    <!-- Coluna do conteúdo -->
                    <div class="col-12 col-md-6">
                    <h2 class="fw-bold">Nome do Sinal</h2>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Sed doloribus quidem repudiandae saepe accusantium necessitatibus fuga eaque dolorem, 
                        quisquam aliquid dicta expedita cumque eos temporibus laborum facilis quam non reiciendis.
                    </p>

                    <!-- Cards -->
                    <a class="card-tema d-block mb-2">
                        <div class="card">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-body-secondary">História</h6>
                            <h4 class="card-title">Explorando o sinal</h4>
                        </div>
                        </div>
                    </a>

                    <a class="card-tema d-block mb-2">
                        <div class="card">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-body-secondary">Demonstração</h6>
                            <h4 class="card-title">Como faz?</h4>
                        </div>
                        </div>
                    </a>

                    <a class="card-tema d-block">
                        <div class="card">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-body-secondary">Prática</h6>
                            <h4 class="card-title">Vamos praticar!</h4>
                        </div>
                        </div>
                    </a>
                    </div>

                </div>
            </div>


        </div>

        

        <br>
        <br>
       
</div>


<app-footer></app-footer>