<app-header></app-header>
<app-end-header></app-end-header>

<div class="container">
    <br>
    <!--Botões de Voltar e Avançar-->
    <div class="card card-subject">
        <div class="card-body">
            <!--seta para voltar (add link)-->
            <div style="display: flex;">
                <a class="back-arrow" (click)="PagInicio()"> < </a>
                <div>
                    <h6 class="card-subtitle mb-2">DEMONSTRAÇÕES</h6>
                    <h5 class="card-title"> Como faz? </h5>
                </div>
            </div>

            <br>

            <!--Conteúdo-->
            <div class="container" style="max-width: 98%;">
                <!--barra de progresso-->
                <div style="display: flex;">
                    <div class="progress" style="width: 98%;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div> 
                    </div>
                    <p style=" position: relative; bottom: 10px; margin-left: 20px; font-weight: bold;">80%</p>
                </div>

                <br>

                <!--Video da demonstração -->
                <div class="video-demonstracao ratio ratio-16x9 mx-auto p-2">
                    @if(isLoading) {
                        <app-loading-section style="margin-top: 25%;"></app-loading-section>
                    }

                    <iframe
                        [src]="url | safe"
                        width="40"
                        height="60"
                        allow="autoplay; encrypted-media"
                        allowfullscreen
                        frameborder="0" style="border-radius: 10px;"> 
                    </iframe>
                </div>
                
                <br>
                <br>


                <!--Botões de Voltar e Avançar-->
                <div class="d-flex gap-3 mt-3">
                    <!-- Botão Avançar -->
                    <a class="btn btn-avancar flex-fill" (click)="PagNext()"> AVANÇAR </a>
                </div>

            </div>
        </div>
    </div>


    <br>
    <br>
</div>

<app-footer></app-footer>