/*celular*/
@media (max-width: 575px) {
.niveis{

    & a {
        text-decoration: none;
        color: #292929;
    }

    & .circulonivel0 {
        display: flex;
        align-items: center;
        background-color: #FF9221;
        border-radius: 15px;
        height: 110px;
        padding: 0 0 0 20px;
        margin: 0 !important;

        & p {
            position: static;
            margin: 0;
            font-family: "Rawline Bold", sans-serif;
            font-weight: bolder;
            font-size: 25px;
            color: #d44700;
        }
    }

    & .circulonivel1 {
        display: flex;
        align-items: center;
        background-color: #BA73FF;
        border-radius: 15px;
        height: 110px;
        padding: 0 0 0 20px;
         margin: 0 !important;

        & p {
            position: static;
            margin: 0;
            font-family: "Rawline Bold", sans-serif;
            font-weight: bolder;
            font-size: 25px;
            color: #831beb;
        }
    }
}

/*ANEL DE PROGRESSO*/
    .ring-all {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: -30px;
    }

    .progress-ring {
        text-align: right;
        width: 86px;
        height: 86px;
        background-color: #e6e6e6 !important;
        border-radius: 50%;
    }

     .progress-ring circle {
        fill: none;
        stroke-width: 8;
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
    }

     .progress-ring .progress-bg {
        stroke: #F9F9F9 !important;
    }

     .progress-ring .progress-bar {
        stroke: #57C29B !important;
        stroke-linecap: round;
    }

    .progress-text {
        display: inline-block;
        position: relative;
        right: 65px;
        min-width: 48px; 
        text-align: center;
        font-family: "Rawline Bold", sans-serif;
        font-size: 17px;
        color: #333;
    }

    .progress-text.locked-level  {
        display: inline-block;
        position: relative;
        right: 67px;
        min-width: 48px; 
        text-align: center;
        font-family: "Rawline Bold", sans-serif;
        font-size: 17px;
        color: #909090;
        width:30;
        height:30;
    }

    .progress-bar {
        r: 33;
        cx: 43;
        cy: 43;
    }

    .progress-bg {
        r: 33;
        cx: 43;
        cy: 43;
    }
}

/*computador*/
@media (min-width: 575px) {
.niveis{
    margin: 20px;
    margin-left: 15%;

    & a {
        text-decoration: none;
        color: #292929;
    }

    & .circulonivel1 {
        background-color: #BA73FF; 
        border-radius: 50%; 
        width: 200px; 
        height: 200px;

        & p {
            font-family: "Rawline Bold", sans-serif;
            text-align: center;
            position: relative;
            bottom: 40px;
            font-weight: bolder;
            font-size: 20px;
            color: #9E3FFA;
        }
    }

    & .circulonivel0 {
        background-color: #FF9221 ; 
        border-radius: 50%; 
        width: 200px; 
        height: 200px;

        & p {
            font-family: "Rawline Bold", sans-serif;
            text-align: center;
            position: relative;
            bottom: 40px;
            font-weight: bolder;
            font-size: 20px;
            color: #F86400;
        }
    }
}

.niveis .nivel-col {
    margin-right: 90px !important;
}

/*ANEL DE PROGRESSO*/
     .progress-ring {
        position: relative;
        width: 150px;
        height: 150px;
        background-color: #e6e6e6;
        border-radius: 50%;
        bottom: 20px;
        left: 25px;
    }

     .progress-ring circle {
        fill: none;
        stroke-width: 10;
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
    }

     .progress-ring .progress-bg {
        stroke: #F9F9F9;
    }

     .progress-ring .progress-bar {
        stroke: #57C29B;
        stroke-linecap: round;
    }

     .progress-text {
        position: relative;
        bottom: 110px;
        left: 75px;
        font-family: "Rawline Bold", sans-serif;
        font-size: 24px;
        color: #333;
    }

    .progress-text.locked-level  {
        position: relative;
        bottom: 120px;
        left: 73px;
        font-family: "Rawline Bold", sans-serif;
        font-size: 24px;
        color: #909090;
    }

    .locked-level svg {
        width: 55px !important;
        height: 55px !important;
    }

    .progress-bar {
        r: 65;
        cx: 75;
        cy: 75;
    }

    .progress-bg {
        r: 65;
        cx: 75;
        cy: 75;
    }
} 