<div class="niveis" >
        <div class="col" [id]="'nivel' + level">
            <a (click)="PagNivel()">
                <div [class]="'circulonivel'+ levelstyle">
                    <p>Nível {{ level }}</p>
                    <div class="ring-all">
                        <svg class="progress-ring" width="150" height="150">
                            <circle class="progress-bg"></circle>
                            <circle
                            class="progress-bar"
                            
                            [attr.stroke-dasharray]="circumference"
                            [attr.stroke-dashoffset]="circumference - (percent / 100 * circumference)"
                            ></circle>
                        </svg>
                        <div class="progress-text"> {{ percent }}%</div>
                    </div>
                    
                </div>
            </a>
        </div>
</div>