@import './styles/colors.scss';
@import './styles/fonts.scss';
@import './styles/darkgeral.scss';
@import './styles/contrastegeral.scss';


/*config geral e light mode*/

body {
    background-color: $white;
    font-family: "Rawline", sans-serif;
}

/*navegador*/
nav {
    background-color: $white;

    & #logo_teclibras {
        width: 150px;
        margin-right: 20%;
    }
}

/*cursor para link*/
a {
    cursor: pointer;
}

/*barra de rolagem*/
::-webkit-scrollbar { width: 7px; height: 5px;}
::-webkit-scrollbar-track { background: $white; border-radius: 5px; }
::-webkit-scrollbar-thumb { background: $softpurple; border-radius: 5px; }
::-webkit-scrollbar-thumb:hover { background: #9c4ee1;}

/*dropdowns configurações/opções*/
.dropdown-toggle::after {
    color: $ultraorange; /* Cor da seta */
}

/*inputs radio*/
#modo-claro, #modo-escuro, #modo-contraste{
    margin-left: 20px;
    margin-bottom: 20px;
}

/*muda a cor do radio input*/
input[type="radio"] {
    accent-color: $ultrapurple;
}

/*tamanho do radio*/
.label_modo {
    font-size: 13px;
} 

/*foto de perfil*/
#foto_perfil {
    width:27px; 
    height:27px; 
    border-radius: 50%; 
    margin: 10px 0 0 30px;
}

/*rodapé*/
footer {
    background: $black;
    font-size: 85%;
    
    .title-footer {
        font-weight: bold; 
        color: $softpurple;
    }

    & b, p, a, hr { 
        text-decoration: none;
        color: $greylight;
    }
        
    & a:hover {
        cursor: pointer;
        text-decoration:underline;
    }
}