@import '../../../styles/colors.scss';

:host-context(body.modo-escuro) {
    & .container_cadastro {
        background-color: $blacktwo;
        border: solid 2px $softblack;
        border-radius: 8px;
    }

    & .input_cadastro {
        background-color: $blacktwo; 
        color: $white;
    }

    & .form_cadastro p {
        color: $greylight;
    }
    
    & .input_cadastro:focus {
        background-color: $blacktwo;
        color: $white;
    }
    
    & .help_entrar {
        color: $purple;
    }
}

:host-context(body.modo-contraste) {
    & .container_cadastro {
        background-color: $ultrablack;
        border: solid 2px $aqua;
    }

    & .input_cadastro {
        background-color: $ultrablack; 
        color: $ultrawhite;
        border-bottom: solid 2px $aqua;
    }
    
    & .input_cadastro:focus {
        background-color: $black;
        color: $ultrawhite;
        border-bottom: solid 2px $aqua;
        caret-color: $aqua;
    }
    & .form_cadastro p {
        color: $ultrawhite;
    }
    & .help_entrar {
        color: $aqua;
    }
}

.container_cadastro {
    max-width: 90%;
    margin: 0 5%;
    display: flex; 
    flex-wrap: wrap; 
    border-radius: 5px; 
    border: solid 2px $greylight;
}

.form_cadastro{
    flex: 1; 
    margin: 8% 6%; 
    border-radius: 5px 0 0 5px;

    & h1 {
        width: 90%; 
        font-weight: bold; 
        line-height: 30px; 
        font-family: 'Rawline Bold', sans-serif ;
    }

    & p {
        font-size: 12px ; 
        color: $greydark ; 
        font-weight: bold;
    }
}

.input_cadastro {
    background-color: $white; 
    width: 100%; 
    border: none; 
    border-bottom: solid 2px $purple;
}

.input_cadastro:focus {
    border-color: $purple;
    background-color: $greylight;
    outline: none;
    caret-color: $softpurple;
    border-radius: 10px 10px 0 0;
}

.btn-cadastro {
    background-color: $ultraorange; 
    color: $white;
    border-radius: 50px;
    margin: 0 5px;
    padding: 8px 20px;
}
.btn-cadastro:hover {
    background-color: $ultraorange; 
    color: $white;
}

.help_entrar {
    font-size: 15px; 
    color: $ultrapurple; 
    font-weight: bold;
    cursor: pointer;
}

.abs_cadastro {
    flex: 1; 
    padding: 10px;
    background: $ultrapurple;
    background: linear-gradient(0deg, $ultrapurple 0%, $ultraorange 100%); 
    border-radius: 5px 0 0 5px;
}

.alert-danger {
    background-color: #ff9d9d;
    border-color: #e37575;
    font-size: 13px;
}

@media (max-width: 220px) {
    .form_cadastro{
        flex: 1; 
        margin: 11%; 
        border-radius: 5px 0 0 5px;
    }
}
@media (min-width: 221px) and (max-width: 330px){
    .form_cadastro{
        flex: 1; 
        margin: 21%; 
        border-radius: 5px 0 0 5px;
    }
}
@media (min-width: 330px) and (max-width: 450px){
    .form_cadastro{
        flex: 1; 
        margin: 28%; 
        border-radius: 5px 0 0 5px;
    }

    .abs_cadastro {
        border-radius: 5px 5px 0 0;
    }
}