@import '../../../styles/colors.scss';

/*TITULO DA PÁGINA*/
h2 {
  font-family: "Rawline Bold", sans-serif;
  text-align: center;
  color: $black;
  margin-top: 50px;
  font-weight: 700;
}

/*Quadrado Gradiente*/
.abs {
  flex: 1; 
  padding: 10px;
  background: $ultrapurple;
  background: linear-gradient(0deg, rgba(123, 39, 205, 1) 0%, rgba(248, 100, 0, 1) 100%); 
  border-radius: 5px;
}

/*Geral Botão*/
.btn-social{
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 90%;
  margin: 5% 5%;
  padding: 4%;
  text-decoration: none;
  color: $white;
  font-weight: 700;
  font-size: 110%;

  & svg {
    margin: 5px 10px 0 0;
  }
}

/*Botões Individuais*/
.btn-whats {
  background: linear-gradient(0deg, #25D366 0%, #8fb529 100%);
}

.btn-instagram {
  background: linear-gradient(0deg, #9b26b8 0%, #E4405F 100%);
}

.btn-x {
  background: linear-gradient(0deg, #151515 0%, #464646 100%); 
}

.btn-discord {
  background: linear-gradient(0deg, rgb(26, 29, 61) 0%, #5865f2 100%);
}


/*modo escuro*/

:host-context(body.modo-escuro) {
  h2 {
    color: $white;
  }
}

:host-context(body.modo-contraste) {
  h2 {
    color: $ultrawhite;
  }

  .btn-social {
    border: solid 2px $aqua;
    color: $ultrablack;
  }

  .btn-whats {
    background: linear-gradient(0deg, #00ff5e 0%, #cbff3c 100%);
  }

  .btn-instagram {
    background: linear-gradient(0deg, #d735ff 0%, #ff2850 100%);
  }

  .btn-x {
    background: linear-gradient(0deg, #858585 0%, $ultrawhite 100%); 
  }

  .btn-discord {
    background: linear-gradient(0deg, rgb(49, 66, 245) 0%, #6e7aff 100%);
  }
}