<app-header></app-header>

<h2>Bem vindo as comunidades {{ firstName }}!</h2>
<p>Aqui você pode encontrar nossas redes sociais para se comunicar com nós e outros estudades!</p>

<!--Usar essa div para fazer aquele gradiente do login-->
<div class="abs_entrar"></div>

<!--Div que guarda todos os botões-->
<div>
    <div class="btn-social btn-whats">
        <a href="">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="Whatsapp Logo" class="logo-img">
            <p class="btn-text">Comunidade do WhatsApp</p>
        </a>
    </div>

    <div class="btn-social btn-instagram">
        <a href="https://www.instagram.com/teclibrasoficial/" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Instagram_logo_2016.svg" alt="Instagram Logo" class="logo-img">
            <p class="btn-text">Comunidade do Instagram</p>
        </a>
    </div>

    <div class="btn-social btn-x">
        <a href="">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/ce/X_logo_2023.svg" alt="X Logo" class="logo-img">
            <p class="btn-text">Comunidade do X</p>
        </a>
    </div>

    <div class="btn-social btn-discord">
        <a href="">
            <img src="https://www.svgrepo.com/show/353655/discord-icon.svg" alt="Discord Logo" class="logo-img">
            <p class="btn-text">Comunidade do Discord</p>
        </a>
    </div>
</div>

<app-footer></app-footer>
