<div class="card-theme">

    <!-- CÍRCULO DE PROGRESSO -->
    <div class="progress-wrapper">
        <div class="d-flex justify-content-center align-items-center">
            <svg class="progress-ring">
                <!-- anel de fundo -->
                <circle class="progress-bg"></circle>

                <!-- anel de progresso -->
                <circle
                    class="progress-bar"
                    [attr.stroke-dasharray]="circumference"
                    [attr.stroke-dashoffset]="circumference - (percent / 100 * circumference)"
                ></circle>
            </svg>
        </div>
        <div class="progress-text">{{ percent }}%</div>
    </div>

    <!-- CARD PRINCIPAL -->
    <div class="col">
        <div (click)="PagNext()" class="card custom-card">
            
            <!-- parte roxa -->
            <div class="top-section" [class]="'top-section'+ levelstyle"></div>

            <div class="card card-body">
                <p class="subtitle">{{ subtitle }}</p>
                <h4 class="title">{{ title }}</h4>
            </div>

        </div>
    </div>
</div>
